<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="textcenter center-div mt-5" id="login">
        <div class="containter w-25 border py-5 m-5">
            <h3>Welcome to the dashboard</h3>
            <h5><%= locals.user ? user : "User"%></h5>
            <a href="/route/logout">Logout</a>
        </div>
    </div>
</body>
</html>