<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout Successful</title>
</head>
<body>
    <div class="textcenter center-div mt-5" id="login">
        <div class="containter w-25 border py-5 mt-5 m-5">
            <h3>Logout Successful</h3>
            <a href="/">Go to the Login Page</a>
        </div>
    </div>
</body>
</html>